<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/users.css">
</head>
<body>

    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__list-item">
                <li class="main-header__item"><a href="/">Home</a></li>
                <li class="main-header__item"><a class="active" href="/users">User</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="container-form">
            <h1 class="user-title">User Form</h1>
            <form class="user-form" action="/users" method="POST">
                <label class="user-form__label" for="name">Name</label>
                <input class="user-form__input" type="text" name="name" id="name">
                <button class="user-form__button" type="submit">Add User</button>
            </form>
        </div>
    </main>
    
</body>
</html>